NODE_ENV=development

DATABASE_USER=postgres
DATABASE_USER=12345
DATABASE_NAME=mediflow_ai_db
DATABASE_HOST=localhost
DATABASE_PORT=5432

DATABASE_SEEDER=false
DATABASE_SYNCRONIZE=false

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=